
<%= javascript_include_tag "jquery-2.1.3.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= stylesheet_link_tag "typogridphy.css" %>
<%= stylesheet_link_tag "bootstrap.min.css" %>

<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
            <div class="col-md-4">
			</div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
    </div>

		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">

						<table>
						  <thead>
							<tr>
							  <th>Data</th>
							  <th>Project</th>
							  <th></th>
							</tr>
						  </thead>

						  <tbody>
							<% @items.each do |item| %>
							  <tr>
								<td><%= item.data %></td>
								<td><%= item.project %></td>
								<td><%= link_to 'Show', item %></td>
								<td><%= link_to 'Edit', edit_item_path(item) %></td>
								<td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
							  </tr>
							<% end %>
						  </tbody>
						</table>

			</div>
			<div class="col-md-2">
				<%= button_to 'New Item', new_item_path, :class=> "btn btn-primary"%>
			</div>
		</div>
</div>
