<%= javascript_include_tag "jquery-2.1.3.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= stylesheet_link_tag "typogridphy.css" %>
<%= stylesheet_link_tag "bootstrap.min.css" %>

<div class="container">
	<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <%=link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">   
            <%= render 'form' %>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4"> 
            <%= link_to 'Back', items_path %>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
